.searchButtonInDashboard{
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.searchButtonInDashboard:hover{
    -fx-background-color: #cdcdcd;
}

.saveButtonInManageAnimalForm{
    -fx-background-color: #0f6e39;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}
.saveButtonInManageAnimalForm:hover{
    -fx-background-color: #0a4a24;
}

.searchIconInDashboard{
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 10;
}

.searchIconInDashboard:hover{
    -fx-background-color: #cdcdcd;
}

.importButtonInDashboard{
    -fx-background-color: white;
    -fx-border-color: #0f6e39;
    -fx-border-width: 1;
    -fx-text-fill: #0f6e39;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.importButtonInDashboard:hover{
    -fx-background-color: #cdcdcd;
}

.textFieldInDashboard{
    -fx-background-color: #daeee3;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #353a52;
    -fx-border-radius: 10;
}

.textFieldInAnimalManageForm{
    -fx-background-color: #daeee3;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #353a52;
    -fx-border-radius: 10;
}